/*font-family: 'Nunito', sans-serif;
font-family: 'Mr Dafoe', cursive;*/
/*--------------   hexagon styling    ----------------------*/
body {
  height: auto;
  background-color: black;
  position: relative;
}

#nav-id {
  background-color: black;
  background-clip: padding-box;
  z-index: 9;
}

#nav-id #logo-ime {
  font-size: 2.4rem;
  color: white;
  font-family: "Nunito";
  font-weight: bold;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

#nav-id #logo-ime:hover {
  color: #99d9ea;
}

#nav-id #logo-ime img {
  height: 3rem;
  margin-right: 0.3rem;
}

#nav-id #glavni-linkovi .akt-link {
  color: #99d9ea;
}

#nav-id #glavni-linkovi .akt-link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #99d9ea;
  left: 20%;
  border-radius: 3px;
  top: 3.3rem;
  opacity: 1.0;
}

#nav-id #glavni-linkovi a {
  color: white;
  font-family: "Nunito";
  display: inline-block;
  position: relative;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  font-size: 1.5rem;
}

#nav-id #glavni-linkovi a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #99d9ea;
  left: 20%;
  top: 4.2rem;
  border-radius: 3px;
  opacity: 0.0;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

#nav-id #glavni-linkovi a:hover::before {
  width: 60%;
  top: 3.3rem;
  opacity: 1.0;
}

#nav-id #glavni-linkovi a:hover {
  color: #99d9ea;
}

/*      OFFCANVAS        */
#off-meni {
  position: fixed;
  width: 13px;
  height: 100vh;
  background-color: #99d9ea;
  right: -1px;
  top: 0;
  z-index: 10;
}

#off-meni a {
  position: absolute;
  top: 65%;
  width: 65px;
  height: 65px;
  background-color: #99d9ea;
  left: -35px;
  border-radius: 50% 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: blue;
}

#off-meni a i {
  font-size: 1.4rem;
  font-family: "Nunito";
  text-align: center;
  height: 45px;
  padding: 0%;
  margin: 0%;
  width: 45px;
  background-color: azure;
  border-radius: 50%;
}

#off-meni a i::before {
  line-height: 0.6;
  font-weight: bolder !important;
}

#sidebar {
  background-color: #99d9ea;
  padding-top: 20%;
}

#sidebar #izlaz {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  line-height: 1;
  font-weight: bolder;
  color: blue;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  top: 65%;
  left: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#sidebar #izlaz i {
  position: absolute;
  top: 10%;
}

#sidebar #sidebar-label {
  font-size: 2.2rem;
  font-weight: bolder;
}

#sidebar #linkovi {
  font-size: 1.3rem;
  font-weight: 500;
}

#sidebar #linkovi li a {
  color: black;
}

/*    HERO SECTION STYLING      */
#hero {
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero {
  height: 160vh;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}

.hero #hero-container {
  height: 100%;
  z-index: 10;
}

.hero #hero-container .row {
  width: inherit;
  height: inherit;
}

.hero #hero-container .row #tekst {
  height: 40%;
  position: relative;
  /* width: 50%;*/
}

@media (min-width: 768px) {
  .hero #hero-container .row #tekst {
    height: 100%;
  }
}

.hero #hero-container .row #tekst h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  font-family: "Nunito";
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero #hero-container .row #tekst h1 {
    text-align: start;
  }
}

@media (min-width: 992px) {
  .hero #hero-container .row #tekst h1 {
    color: white;
    font-family: "Nunito";
    font-size: 3.2rem;
    line-height: 3.9rem;
    margin-bottom: 1.5rem;
  }
}

.hero #hero-container .row #tekst h1 .plava {
  color: #99d9ea;
}

.hero #hero-container .row #tekst #hero-tekst {
  position: absolute;
  top: 30%;
  width: 100%;
  padding-left: 15px;
  padding-right: 10px;
  height: 40vh;
}

.hero #hero-container .row #tekst #hero-tekst p {
  color: #e4e4e4;
  font-size: 1.2rem;
  font-family: "Nunito";
  line-height: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero #hero-container .row #tekst #hero-tekst p {
    text-align: start;
  }
}

@media (min-width: 992px) {
  .hero #hero-container .row #tekst #hero-tekst p {
    color: #e4e4e4;
    font-family: "Nunito";
    font-size: 1.5rem;
  }
}

/*      HEKSAGONI        */
#heksagoni {
  /*  width: 50%;*/
  height: 65%;
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  #heksagoni {
    position: absolute;
    height: 115%;
    top: 0;
    left: 50%;
  }
}

#heksagoni #prvi {
  position: absolute;
  width: 37vh;
  height: 37vh;
  top: 30vh;
  left: -3vh;
}

@media (min-width: 768px) {
  #heksagoni #prvi {
    position: absolute;
    width: 35vh;
    height: 35vh;
  }
}

@media (min-width: 850px) {
  #heksagoni #prvi {
    position: absolute;
    width: 45vh;
    height: 45vh;
  }
}

@media (min-width: 992px) {
  #heksagoni #prvi {
    position: absolute;
    width: 45vh;
    height: 45vh;
  }
}

@media (min-width: 1400px) {
  #heksagoni #prvi {
    position: absolute;
    width: 55vh;
    height: 55vh;
  }
}

#heksagoni #prvi #glavni-prvi {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

#heksagoni #prvi #glavni-prvi img {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
          clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
}

#heksagoni #prvi #glavni-drugi {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  position: absolute;
  bottom: -80%;
  right: -57%;
}

#heksagoni #prvi #glavni-drugi img {
  position: absolute;
  left: -100%;
  height: 100%;
  -webkit-clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
          clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
}

@media (min-width: 992px) {
  #heksagoni #prvi #glavni-drugi {
    bottom: -44%;
    right: -125%;
  }
}

#heksagoni #prvi #glavni-treci {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  position: absolute;
  top: -80%;
  right: -57%;
}

#heksagoni #prvi #glavni-treci img {
  position: absolute;
  left: -200%;
  height: 100%;
  -webkit-clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
          clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
}

@media (min-width: 992px) {
  #heksagoni #prvi #glavni-treci {
    top: -112%;
    right: -101%;
  }
}

#heksagoni #prvi .prvi-deca {
  position: absolute;
  width: 55%;
  height: 55%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

@media (min-width: 850px) {
  #heksagoni #prvi .prvi-deca {
    width: 45%;
    height: 45%;
  }
}

#heksagoni #prvi #prvi-prvi {
  right: -22.5%;
  top: -29%;
}

#heksagoni #prvi #prvi-prvi img {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
          clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
}

#heksagoni #prvi #prvi-drugi {
  right: 4%;
  bottom: -43%;
}

#heksagoni #prvi #prvi-drugi img {
  position: absolute;
  left: -200%;
  height: 100%;
  -webkit-clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
          clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
}

#heksagoni #prvi #prvi-treci {
  right: -48%;
  top: 14%;
}

#heksagoni #prvi #prvi-treci img {
  position: absolute;
  left: -100%;
  height: 100%;
  -webkit-clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
          clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
}

#heksagoni #prvi #prvi-cetvrti {
  background-color: #99d9ea;
  right: -15%;
  top: 52%;
  z-index: 3;
  font-weight: bold;
}

#heksagoni #prvi #prvi-cetvrti a {
  font-family: "Nunito";
  display: inline-block;
  position: absolute;
  right: 8%;
  top: 25%;
  width: 50%;
  height: 60%;
  text-decoration: none;
  color: black;
  text-align: right;
  font-size: 2vh;
}

@media (min-width: 1400px) {
  #heksagoni #prvi #prvi-cetvrti a {
    height: 50%;
    top: 28%;
    font-size: 2.2vh;
  }
}

#heksagoni #prvi #prvi-cetvrti a:hover #link-tekst-1 {
  right: 0.8rem;
}

#heksagoni #prvi #prvi-cetvrti a:hover #link-tekst-2 {
  right: 1.6rem;
}

#heksagoni #prvi #prvi-cetvrti a #link-tekst-1 {
  display: inline-block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#heksagoni #prvi #prvi-cetvrti a #link-tekst-2 {
  display: inline-block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#destinacije {
  width: 100%;
  height: auto;
  background-color: black;
}

#destinacije #destinacije-naslov {
  background-color: black;
  padding-top: 5rem;
  color: white;
  font-family: "Nunito";
}

#destinacije #destinacije-naslov h2 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}

#destinacije #destinacije-naslov h2 span {
  color: #99d9ea;
}

#destinacije #destinacije-naslov p {
  font-size: 1.2rem;
  color: #d6d6d6;
  font-family: "Nunito";
}

#destinacije .modal-sadrzaj-destinacije {
  background-color: #1a1a1a;
  color: white;
  font-family: "Nunito";
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija {
  width: 100px;
  height: 150px;
  border-radius: 3px;
  margin-top: 0.4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  float: left;
  overflow: hidden;
  position: relative;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija img {
  position: absolute;
  height: 100%;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-1 {
  left: 0px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-2 {
  left: -100px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-3 {
  left: -200px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-4 {
  left: -300px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-5 {
  left: 0px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-6 {
  left: -100px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-7 {
  left: -200px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-8 {
  left: -300px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-9 {
  left: -400px;
}

#destinacije .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-10 {
  left: -500px;
}

#destinacije .modal-sadrzaj-destinacije .modal-zatvori {
  background-color: #555555;
}

#destinacije .modal-sadrzaj-destinacije .modal-zatvori:hover {
  color: transparent;
  background-color: #6e6e6e;
}

#destinacije .modal-sadrzaj-destinacije .modal-zatvori:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#destinacije .modal-sadrzaj-destinacije .modal-header {
  border-bottom: 2px solid #99d9ea;
  color: white;
  font-family: "Nunito";
}

#destinacije .modal-sadrzaj-destinacije .modal-footer {
  border-top: 2px solid #99d9ea;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati {
  font-family: "Nunito";
  background-color: #7cb0be;
  color: black;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:hover {
  background-color: #99d9ea;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti {
  font-family: "Nunito";
  color: white;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
  background-color: #3b0000;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:hover {
  color: white;
  background-color: #8a0000;
}

#destinacije .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#destinacije .modal-dugme {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-color: transparent;
  background-color: transparent;
}

#destinacije .modal-dugme:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#destinacije .modal-dugme:hover {
  outline-color: #99d9ea;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
}

#destinacije .red {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
  display: block;
}

@media (min-width: 992px) {
  #destinacije .red {
    display: none;
  }
}

#destinacije .slajder-item {
  height: 240px;
  width: 160px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  color: black;
  overflow: hidden;
}

@media (min-width: 576px) {
  #destinacije .slajder-item {
    height: 360px;
    width: 240px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item {
    height: 450px;
    width: 300px;
  }
}

#destinacije .slajder-item img {
  position: absolute;
  height: 100%;
}

#destinacije .slajder-item #destinacija-1 {
  -webkit-clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
          clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  left: 0px;
}

#destinacije .slajder-item #destinacija-2 {
  -webkit-clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
          clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
  left: -160px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-2 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-2 {
    left: -300px;
  }
}

#destinacije .slajder-item #destinacija-3 {
  -webkit-clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
          clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
  left: -320px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-3 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-3 {
    left: -600px;
  }
}

#destinacije .slajder-item #destinacija-4 {
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
  left: -480px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-4 {
    left: -720px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-4 {
    left: -900px;
  }
}

#destinacije .slajder-item #destinacija-5 {
  -webkit-clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
          clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
  left: 0px;
}

#destinacije .slajder-item #destinacija-6 {
  -webkit-clip-path: polygon(16.5% 0, 34% 0, 34% 100%, 16.5% 100%);
          clip-path: polygon(16.5% 0, 34% 0, 34% 100%, 16.5% 100%);
  left: -160px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-6 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-6 {
    left: -300px;
  }
}

#destinacije .slajder-item #destinacija-7 {
  -webkit-clip-path: polygon(33% 0, 51% 0, 51% 100%, 33% 100%);
          clip-path: polygon(33% 0, 51% 0, 51% 100%, 33% 100%);
  left: -320px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-7 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-7 {
    left: -600px;
  }
}

#destinacije .slajder-item #destinacija-8 {
  -webkit-clip-path: polygon(50% 0, 68% 0, 68% 100%, 50% 100%);
          clip-path: polygon(50% 0, 68% 0, 68% 100%, 50% 100%);
  left: -480px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-8 {
    left: -720px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-8 {
    left: -900px;
  }
}

#destinacije .slajder-item #destinacija-9 {
  -webkit-clip-path: polygon(66.7% 0, 85% 0, 85% 100%, 66.7% 100%);
          clip-path: polygon(66.7% 0, 85% 0, 85% 100%, 66.7% 100%);
  left: -640px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-9 {
    left: -959px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-9 {
    left: -1199px;
  }
}

#destinacije .slajder-item #destinacija-10 {
  -webkit-clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%);
          clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%);
  left: -800px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-10 {
    left: -1200px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-10 {
    left: -1500px;
  }
}

#destinacije .slajder-item #destinacija-11 {
  left: -1282px;
}

@media (min-width: 576px) {
  #destinacije .slajder-item #destinacija-11 {
    left: -1923px;
  }
}

@media (min-width: 1200px) {
  #destinacije .slajder-item #destinacija-11 {
    left: -2400px;
  }
}

#gradovi {
  width: 100%;
  height: auto;
  background-color: black;
}

#gradovi #destinacije-naslov {
  background-color: black;
  padding-top: 10rem;
  color: white;
  font-family: "Nunito";
}

#gradovi #destinacije-naslov h2 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}

#gradovi #destinacije-naslov h2 span {
  color: #99d9ea;
}

#gradovi #destinacije-naslov p {
  font-size: 1.2rem;
  color: #d6d6d6;
  font-family: "Nunito";
}

#gradovi .modal-sadrzaj-destinacije {
  background-color: #1a1a1a;
  color: white;
  font-family: "Nunito";
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija {
  width: 100px;
  height: 150px;
  border-radius: 3px;
  margin-top: 0.4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  float: left;
  overflow: hidden;
  position: relative;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija img {
  position: absolute;
  height: 100%;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-1 {
  left: 0px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-2 {
  left: -100px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-3 {
  left: -200px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-4 {
  left: -300px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-5 {
  left: -400px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-6 {
  left: -500px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-7 {
  left: -600px;
}

#gradovi .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-8 {
  left: -700px;
}

#gradovi .modal-sadrzaj-destinacije .modal-zatvori {
  background-color: #555555;
}

#gradovi .modal-sadrzaj-destinacije .modal-zatvori:hover {
  color: transparent;
  background-color: #6e6e6e;
}

#gradovi .modal-sadrzaj-destinacije .modal-zatvori:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gradovi .modal-sadrzaj-destinacije .modal-header {
  border-bottom: 2px solid #99d9ea;
  color: white;
  font-family: "Nunito";
}

#gradovi .modal-sadrzaj-destinacije .modal-footer {
  border-top: 2px solid #99d9ea;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati {
  font-family: "Nunito";
  background-color: #7cb0be;
  color: black;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:hover {
  background-color: #99d9ea;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti {
  font-family: "Nunito";
  color: white;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
  background-color: #3b0000;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:hover {
  color: white;
  background-color: #8a0000;
}

#gradovi .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gradovi .modal-dugme {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-color: transparent;
  background-color: transparent;
}

#gradovi .modal-dugme:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gradovi .modal-dugme:hover {
  outline-color: #99d9ea;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
}

#gradovi .red {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
  display: block;
}

@media (min-width: 992px) {
  #gradovi .red {
    display: none;
  }
}

#gradovi .slajder-item {
  height: 240px;
  width: 160px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: black;
  overflow: hidden;
}

@media (min-width: 576px) {
  #gradovi .slajder-item {
    height: 360px;
    width: 240px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item {
    height: 450px;
    width: 300px;
  }
}

#gradovi .slajder-item img {
  position: absolute;
  height: 100%;
}

#gradovi .slajder-item #destinacija-1 {
  left: 0px;
}

#gradovi .slajder-item #destinacija-2 {
  left: -160px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-2 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-2 {
    left: -300px;
  }
}

#gradovi .slajder-item #destinacija-3 {
  left: -320px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-3 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-3 {
    left: -600px;
  }
}

#gradovi .slajder-item #destinacija-4 {
  left: -480px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-4 {
    left: -720px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-4 {
    left: -900px;
  }
}

#gradovi .slajder-item #destinacija-5 {
  left: -640px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-5 {
    left: -960px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-5 {
    left: -1200px;
  }
}

#gradovi .slajder-item #destinacija-6 {
  left: -801px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-6 {
    left: -1201px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-6 {
    left: -1501px;
  }
}

#gradovi .slajder-item #destinacija-7 {
  left: -961px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-7 {
    left: -1441px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-7 {
    left: -1801px;
  }
}

#gradovi .slajder-item #destinacija-8 {
  left: -1121px;
}

@media (min-width: 576px) {
  #gradovi .slajder-item #destinacija-8 {
    left: -1681px;
  }
}

@media (min-width: 1200px) {
  #gradovi .slajder-item #destinacija-8 {
    left: -2101px;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 5rem;
  font-family: "Nunito";
}

footer #footer-pozadina {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 50vw;
  background-image: url(../img/futer-3.jpg);
}

@media (min-width: 768px) {
  footer #footer-pozadina {
    background-image: url(../img/futer-2.jpg);
    height: 30vw;
  }
}

footer #tekst {
  font-family: "Mr Dafoe";
  display: inline-block;
  color: #7cb0be;
  color: #e4e4e4;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

@media (min-width: 768px) {
  footer #tekst {
    font-size: 5rem;
  }
}

footer #svg-norveska {
  height: 120px;
  position: relative;
}

@media (min-width: 768px) {
  footer #svg-norveska {
    height: 150px;
  }
}

footer #svg-norveska img {
  height: inherit;
}

footer #svg-norveska::after {
  position: absolute;
  content: '';
  top: 50%;
  width: 22%;
  left: 0;
  border-top: 1px solid #e4e4e4;
}

@media (min-width: 576px) {
  footer #svg-norveska::after {
    width: 27%;
  }
}

@media (min-width: 992px) {
  footer #svg-norveska::after {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  footer #svg-norveska::after {
    width: 35%;
  }
}

footer #svg-norveska::before {
  position: absolute;
  content: '';
  top: 50%;
  width: 22%;
  right: 0;
  border-top: 1px solid #e4e4e4;
}

@media (min-width: 576px) {
  footer #svg-norveska::before {
    width: 27%;
  }
}

@media (min-width: 992px) {
  footer #svg-norveska::before {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  footer #svg-norveska::before {
    width: 35%;
  }
}

footer #footer-logo {
  height: 50px;
}

footer ul {
  list-style: none;
}

footer a {
  color: #e4e4e4;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Nunito";
}

footer a:hover {
  color: #99d9ea;
}

#kultura {
  height: auto;
  width: 100%;
}

#kultura #kultura-hero {
  height: 100vh;
}

@media (min-width: 768px) {
  #kultura #kultura-hero {
    height: 100vh;
  }
}

#kultura #kultura-hero .row {
  height: inherit;
}

#kultura #prva-kolona {
  position: relative;
  height: 50vh;
  padding-top: 10vh;
  margin-bottom: 6vh;
}

@media (min-width: 768px) {
  #kultura #prva-kolona {
    height: 100vh;
    margin-bottom: 0vh;
  }
}

#kultura #druga-kolona {
  height: 50vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (min-width: 768px) {
  #kultura #druga-kolona {
    height: 100vh;
  }
}

#kultura #druga-kolona .kolona-slike-2 {
  width: 30vh;
  height: 100%;
  margin-right: -2.6vh;
}

#kultura #druga-kolona .kolona-slike-2 img {
  height: 100vh;
}

#kultura #druga-kolona .kolona-slike {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 2vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  #kultura #druga-kolona .kolona-slike {
    width: 30vh;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#kultura #druga-kolona .kolona-slike #d-k-s-3 {
  position: relative;
  width: 30vh;
  height: 100vh;
  overflow: hidden;
  border-radius: 4px;
}

#kultura #druga-kolona .kolona-slike #d-k-s-3 img {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  height: 100%;
  position: absolute;
  left: 0%;
}

#kultura #druga-kolona .kolona-slike #d-k-s-1 {
  position: relative;
  width: 20vh;
  height: 40vh;
  overflow: hidden;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #kultura #druga-kolona .kolona-slike #d-k-s-1 {
    height: 49vh;
    width: 100%;
  }
}

#kultura #druga-kolona .kolona-slike #d-k-s-1 img {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
          clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  height: 200%;
  position: absolute;
  right: 0%;
}

@media (min-width: 768px) {
  #kultura #druga-kolona .kolona-slike #d-k-s-1 img {
    right: 0%;
  }
}

#kultura #druga-kolona .kolona-slike #d-k-s-2 {
  position: relative;
  overflow: hidden;
  width: 20vh;
  height: 40vh;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #kultura #druga-kolona .kolona-slike #d-k-s-2 {
    height: 49vh;
    width: 100%;
  }
}

#kultura #druga-kolona .kolona-slike #d-k-s-2 img {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%);
  height: 200%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

#kultura #hero-tekst h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  font-family: "Nunito";
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  #kultura #hero-tekst h1 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #kultura #hero-tekst h1 {
    text-align: start;
  }
}

@media (min-width: 992px) {
  #kultura #hero-tekst h1 {
    text-align: start;
    color: white;
    font-family: "Nunito";
    font-size: 3.2rem;
    line-height: 3.9rem;
    margin-bottom: 1.5rem;
  }
}

#kultura #hero-tekst h1 .plava {
  color: #99d9ea;
}

#kultura #hero-tekst {
  height: 40vh;
  text-align: center;
  padding-left: 0rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  #kultura #hero-tekst {
    top: 30vh;
    padding-top: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

#kultura #hero-tekst p {
  color: #e4e4e4;
  font-size: 1.2rem;
  font-family: "Nunito";
  line-height: 2rem;
  text-align: center;
}

@media (min-width: 576px) {
  #kultura #hero-tekst p {
    text-align: center;
    color: #e4e4e4;
  }
}

@media (min-width: 768px) {
  #kultura #hero-tekst p {
    text-align: start;
  }
}

@media (min-width: 992px) {
  #kultura #hero-tekst p {
    text-align: start;
    color: #e4e4e4;
    font-family: "Nunito";
    font-size: 1.5rem;
  }
}

#vikinzi {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

#vikinzi #destinacije-naslov {
  background-color: black;
  padding-top: 5rem;
  color: white;
  font-family: "Nunito";
}

#vikinzi #destinacije-naslov h2 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}

#vikinzi #destinacije-naslov h2 span {
  color: #99d9ea;
}

#vikinzi #destinacije-naslov p {
  font-size: 1.2rem;
  color: #d6d6d6;
  font-family: "Nunito";
}

#vikinzi .slajder-item {
  height: 240px;
  width: 160px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

@media (min-width: 576px) {
  #vikinzi .slajder-item {
    height: 360px;
    width: 240px;
  }
}

@media (min-width: 1200px) {
  #vikinzi .slajder-item {
    height: 450px;
    width: 300px;
  }
}

#vikinzi .slajder-item img {
  position: absolute;
  height: 100%;
}

#vikinzi .slajder-item #viking-1 {
  position: absolute;
  left: -160px;
}

@media (min-width: 576px) {
  #vikinzi .slajder-item #viking-1 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #vikinzi .slajder-item #viking-1 {
    left: -300px;
  }
}

#vikinzi .slajder-item #viking-2 {
  position: absolute;
  left: -320px;
}

@media (min-width: 576px) {
  #vikinzi .slajder-item #viking-2 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #vikinzi .slajder-item #viking-2 {
    left: -600px;
  }
}

#vikinzi .viking-tekst {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#hrana {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

#hrana #destinacije-naslov {
  background-color: black;
  padding-top: 5rem;
  color: white;
  font-family: "Nunito";
}

#hrana #destinacije-naslov h2 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}

#hrana #destinacije-naslov h2 span {
  color: #99d9ea;
}

#hrana #destinacije-naslov p {
  font-size: 1.2rem;
  color: #d6d6d6;
  font-family: "Nunito";
}

#hrana #recepti-slike {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#hrana .hrana-slike {
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (min-width: 768px) {
  #hrana .hrana-slike {
    height: 650px;
    width: 390px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  #hrana .hrana-slike {
    height: 770px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#hrana .hrana-slike .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

#hrana .hrana-slike .slika {
  width: 180px;
  height: 270px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

@media (min-width: 992px) {
  #hrana .hrana-slike .slika {
    width: 250px;
    height: 375px;
  }
}

#hrana .hrana-slike .slika button {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  border: none;
}

#hrana .hrana-slike .slika button:hover {
  outline: 2px solid #99d9ea;
  outline-offset: -2px;
}

#hrana .hrana-slike .slika img {
  position: absolute;
  height: 100%;
}

#hrana .hrana-slike .slika #hrana-2 {
  left: -180px;
}

@media (min-width: 992px) {
  #hrana .hrana-slike .slika #hrana-2 {
    left: -250px;
  }
}

#hrana .hrana-slike .slika #hrana-3 {
  left: -360px;
}

@media (min-width: 992px) {
  #hrana .hrana-slike .slika #hrana-3 {
    left: -500px;
  }
}

#hrana .hrana-slike .slika #hrana-4 {
  left: -540px;
}

@media (min-width: 992px) {
  #hrana .hrana-slike .slika #hrana-4 {
    left: -750px;
  }
}

#hrana #recepti {
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 300px;
}

@media (min-width: 768px) {
  #hrana #recepti {
    width: 300px;
  }
}

@media (min-width: 992px) {
  #hrana #recepti {
    width: 400px;
  }
}

#hrana #recepti #accordionExample {
  min-height: 650px;
}

@media (min-width: 992px) {
  #hrana #recepti #accordionExample {
    height: 765px;
  }
}

#hrana #recepti #accordionExample .accordion-item {
  background-color: #161616;
  color: #e7e7e7;
}

#hrana #recepti #accordionExample .accordion-item h5 {
  color: #99d9ea;
}

#hrana #recepti #accordionExample .accordion-item .accordion-button {
  background-color: #99d9ea;
}

#hrana #recepti #accordionExample .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}

#hrana #recepti #accordionExample .accordion-item .accordion-button:not(.collapsed) {
  color: black;
}

#hrana #recepti #accordionExample .accordion-body {
  min-height: 435px;
}

@media (min-width: 992px) {
  #hrana #recepti #accordionExample .accordion-body {
    height: 555px;
  }
}

#events {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

#events #destinacije-naslov {
  background-color: black;
  padding-top: 5rem;
  color: white;
  font-family: "Nunito";
}

#events #destinacije-naslov h2 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}

#events #destinacije-naslov h2 span {
  color: #99d9ea;
}

#events #destinacije-naslov p {
  font-size: 1.2rem;
  color: #d6d6d6;
  font-family: "Nunito";
}

#events .modal-sadrzaj-destinacije {
  background-color: #1a1a1a;
  color: white;
  font-family: "Nunito";
}

#events .modal-sadrzaj-destinacije p {
  color: #d6d6d6;
  font-family: "Nunito";
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija {
  width: 100px;
  height: 150px;
  border-radius: 3px;
  margin-top: 0.4rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  float: left;
  overflow: hidden;
  position: relative;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija img {
  position: absolute;
  height: 100%;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-1 {
  left: 0px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-2 {
  left: -100px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-3 {
  left: -200px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-4 {
  left: -300px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-5 {
  left: 0px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-6 {
  left: -300px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-7 {
  left: -200px;
}

#events .modal-sadrzaj-destinacije .modal-slika-destinacija #modal-slika-destinacija-8 {
  left: -100px;
}

#events .modal-sadrzaj-destinacije .modal-zatvori {
  background-color: #555555;
}

#events .modal-sadrzaj-destinacije .modal-zatvori:hover {
  color: transparent;
  background-color: #6e6e6e;
}

#events .modal-sadrzaj-destinacije .modal-zatvori:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#events .modal-sadrzaj-destinacije .modal-header {
  border-bottom: 2px solid #99d9ea;
  color: white;
  font-family: "Nunito";
}

#events .modal-sadrzaj-destinacije .modal-footer {
  border-top: 2px solid #99d9ea;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati {
  font-family: "Nunito";
  background-color: #7cb0be;
  color: black;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:hover {
  background-color: #99d9ea;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-prihvati:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti {
  font-family: "Nunito";
  color: white;
  border: none;
  font-weight: bold;
  -webkit-transition: none;
  transition: none;
  background-color: #3b0000;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:hover {
  color: white;
  background-color: #8a0000;
}

#events .modal-sadrzaj-destinacije .modal-footer .modal-dugme-destinacija-ponisti:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#events .modal-dugme {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-color: transparent;
  background-color: transparent;
}

#events .modal-dugme:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#events .modal-dugme:hover {
  outline-color: #99d9ea;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
}

#events .red {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
  display: block;
}

@media (min-width: 992px) {
  #events .red {
    display: none;
  }
}

#events .slajder-item-1 {
  height: 240px;
  width: 160px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 1.5rem;
}

#events .slajder-item-1 .kocka {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 70px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: -4px 3px 5px 0px;
          box-shadow: -4px 3px 5px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6);
          box-shadow: rgba(0, 0, 0, 0.6);
  background-color: #99d9ea;
  text-align: center;
}

#events .slajder-item-1 .kocka .broj .broj-2 {
  font-size: 2.2rem;
  margin-bottom: -0.6rem;
}

#events .slajder-item-1 .kocka .broj p {
  margin: 0;
  font-weight: bold;
}

#events .slajder-item-1 .kocka::after {
  content: '';
  position: absolute;
  left: -12px;
  top: 0px;
  width: 12px;
  height: 12px;
  background-color: #99d9ea;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  z-index: 0;
  -webkit-clip-path: polygon(100% 0, 60% 90%, 100% 90%);
          clip-path: polygon(100% 0, 60% 90%, 100% 90%);
}

@media (min-width: 576px) {
  #events .slajder-item-1 {
    height: 360px;
    width: 240px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 {
    height: 450px;
    width: 300px;
  }
}

#events .slajder-item-1 .slajder-item-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#events .slajder-item-1 .slajder-item-2 img {
  position: absolute;
  height: 100%;
}

#events .slajder-item-1 #destinacija-1 {
  left: 0px;
}

#events .slajder-item-1 #destinacija-2 {
  left: -160px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-2 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-2 {
    left: -300px;
  }
}

#events .slajder-item-1 #destinacija-3 {
  left: -320px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-3 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-3 {
    left: -600px;
  }
}

#events .slajder-item-1 #destinacija-4 {
  left: -480px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-4 {
    left: -720px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-4 {
    left: -900px;
  }
}

#events .slajder-item-1 #destinacija-5 {
  left: 0px;
}

#events .slajder-item-1 #destinacija-6 {
  left: -480px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-6 {
    left: -720px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-6 {
    left: -900px;
  }
}

#events .slajder-item-1 #destinacija-7 {
  left: -320px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-7 {
    left: -480px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-7 {
    left: -600px;
  }
}

#events .slajder-item-1 #destinacija-8 {
  left: -160px;
}

@media (min-width: 576px) {
  #events .slajder-item-1 #destinacija-8 {
    left: -240px;
  }
}

@media (min-width: 1200px) {
  #events .slajder-item-1 #destinacija-8 {
    left: -300px;
  }
}

#pozadina {
  position: absolute;
  width: 50vh;
  height: 100vh;
  background-color: red;
  right: 0;
  top: 0;
}

#booking {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
}

#booking #hero-tekst {
  color: white;
  font-family: "Nunito";
  text-align: start;
  background-color: black;
  padding-left: 0rem;
  padding-right: 1.5rem;
}

#booking #hero-tekst span {
  color: #99d9ea;
}

#booking #hero-tekst h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  #booking #hero-tekst {
    top: 30vh;
    padding-top: 15vh;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

#booking form {
  margin-top: 5rem;
}

#booking form #broj {
  color: black;
  display: inline-block;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: #99d9ea;
}

#booking form input {
  background-color: #d6d6d6;
  font-weight: bold;
}

#booking form label {
  color: white;
  font-weight: bold;
  font-family: "Nunito";
}

#booking form h2 {
  color: white;
  font-family: "Nunito";
  font-weight: bold;
}

#booking form h2 span {
  color: #99d9ea;
}

#booking form #reset {
  font-weight: bold;
  color: lightgray;
  background-color: #300000;
  border: none;
}

#booking form #reset:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#booking form #reset:hover {
  color: white;
  background-color: #d60000;
}

#booking form select {
  background-color: #d6d6d6;
  font-weight: bold;
}

#booking form #potvrda {
  font-weight: bold;
  background-color: #7cb0be;
  border: none;
}

#booking form #potvrda:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#booking form #potvrda:hover {
  background-color: #99d9ea;
}
/*# sourceMappingURL=style.css.map */