/*font-family: 'Nunito', sans-serif;
font-family: 'Patrick Hand', cursive;*/
/*--------------   hexagon styling    ----------------------*/
body {
  height: 1000px;
  background-color: #8a8a8a;
  position: relative;
}

#nav-id {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-bottom: solid 2px transparent;
  background-clip: padding-box;
  z-index: 9;
}

#nav-id #logo-ime {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "Patrick Hand";
  letter-spacing: 0.2rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#nav-id #logo-ime:hover {
  color: #99d9ea;
}

#nav-id #logo-ime img {
  height: 3rem;
  margin-right: 0.3rem;
}

#nav-id #glavni-linkovi a {
  color: white;
  font-family: "Nunito";
  display: inline-block;
  position: relative;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#nav-id #glavni-linkovi a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #99d9ea;
  left: 20%;
  top: 4.2rem;
  border-radius: 3px;
  opacity: 0.0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#nav-id #glavni-linkovi a:hover::before {
  width: 60%;
  top: 3.3rem;
  opacity: 1.0;
}

#nav-id #glavni-linkovi a:hover {
  color: #99d9ea;
}

/*      OFFCANVAS        */
#off-meni {
  position: fixed;
  width: 13px;
  height: 100vh;
  background-color: #99d9ea;
  right: -1px;
  top: 0;
  z-index: 10;
}

#off-meni a {
  position: absolute;
  top: 65%;
  width: 65px;
  height: 65px;
  background-color: #99d9ea;
  left: -35px;
  border-radius: 50% 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: blue;
}

#off-meni a i {
  font-size: 1.4rem;
  font-family: "Nunito";
  text-align: center;
  height: 45px;
  padding: 0%;
  margin: 0%;
  width: 45px;
  background-color: azure;
  border-radius: 50%;
}

#off-meni a i::before {
  line-height: 0.6;
  font-weight: bolder !important;
}

#sidebar {
  background-color: #99d9ea;
  padding-top: 20%;
}

#sidebar #izlaz {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  line-height: 1;
  font-weight: bolder;
  color: blue;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#sidebar #izlaz i {
  position: absolute;
  top: 10%;
}

#sidebar #sidebar-label {
  font-size: 2.2rem;
  font-weight: bolder;
}

#sidebar #linkovi {
  font-size: 1.3rem;
  font-weight: 500;
}

#sidebar #linkovi li a {
  color: black;
}

/*    HERO SECTION STYLING      */
#hero {
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  height: 160vh;
  position: relative;
  background-image: url(/img/pozadina2.jpg);
  background-size: cover;
}

@media (min-width: 576px) {
  .hero {
    height: 100vh;
  }
}

.hero #hero-container {
  height: 100%;
  z-index: 10;
}

.hero #hero-container .row {
  width: inherit;
  height: inherit;
}

.hero #hero-container .row #tekst {
  height: 40%;
  position: relative;
  /* width: 50%;*/
}

@media (min-width: 576px) {
  .hero #hero-container .row #tekst {
    height: 100%;
  }
}

.hero #hero-container .row #tekst h1 {
  font-size: 2.4rem;
  color: white;
  font-family: "Nunito";
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  .hero #hero-container .row #tekst h1 {
    text-align: start;
  }
}

@media (min-width: 992px) {
  .hero #hero-container .row #tekst h1 {
    color: white;
    font-family: "Nunito";
    font-size: 3rem;
    line-height: 3.9rem;
    margin-bottom: 1.5rem;
  }
}

.hero #hero-container .row #tekst h1 .plava {
  color: #99d9ea;
}

.hero #hero-container .row #tekst #hero-tekst {
  position: absolute;
  top: 30%;
  width: 100%;
  padding-left: 15px;
  padding-right: 10px;
  height: 40vh;
}

.hero #hero-container .row #tekst #hero-tekst p {
  color: white;
  font-size: 1.2rem;
  font-family: "Nunito";
  line-height: 2rem;
  text-align: center;
}

@media (min-width: 576px) {
  .hero #hero-container .row #tekst #hero-tekst p {
    text-align: start;
  }
}

@media (min-width: 992px) {
  .hero #hero-container .row #tekst #hero-tekst p {
    color: white;
    font-family: "Nunito";
    font-size: 1.5rem;
  }
}

/*      HEKSAGONI        */
#heksagoni {
  /*  width: 50%;*/
  height: 65%;
  overflow: hidden;
  position: relative;
}

@media (min-width: 576px) {
  #heksagoni {
    position: absolute;
    height: 115%;
    top: 0;
    left: 50%;
  }
}

#heksagoni #prvi {
  position: absolute;
  width: 37vh;
  height: 37vh;
  top: 30vh;
  left: -3vh;
}

@media (min-width: 576px) {
  #heksagoni #prvi {
    position: absolute;
    width: 35vh;
    height: 35vh;
  }
}

@media (min-width: 850px) {
  #heksagoni #prvi {
    position: absolute;
    width: 45vh;
    height: 45vh;
  }
}

@media (min-width: 992px) {
  #heksagoni #prvi {
    position: absolute;
    width: 45vh;
    height: 45vh;
  }
}

@media (min-width: 1400px) {
  #heksagoni #prvi {
    position: absolute;
    width: 55vh;
    height: 55vh;
  }
}

#heksagoni #prvi #glavni-prvi {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

#heksagoni #prvi #glavni-prvi img {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
          clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
}

#heksagoni #prvi #glavni-drugi {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  position: absolute;
  bottom: -80%;
  right: -57%;
}

#heksagoni #prvi #glavni-drugi img {
  position: absolute;
  left: -100%;
  height: 100%;
  -webkit-clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
          clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
}

@media (min-width: 992px) {
  #heksagoni #prvi #glavni-drugi {
    bottom: -44%;
    right: -125%;
  }
}

#heksagoni #prvi #glavni-treci {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  position: absolute;
  top: -80%;
  right: -57%;
}

#heksagoni #prvi #glavni-treci img {
  position: absolute;
  left: -200%;
  height: 100%;
  -webkit-clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
          clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
}

@media (min-width: 992px) {
  #heksagoni #prvi #glavni-treci {
    top: -112%;
    right: -101%;
  }
}

#heksagoni #prvi .prvi-deca {
  position: absolute;
  width: 55%;
  height: 55%;
  -webkit-clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

@media (min-width: 850px) {
  #heksagoni #prvi .prvi-deca {
    width: 45%;
    height: 45%;
  }
}

#heksagoni #prvi #prvi-prvi {
  right: -22.5%;
  top: -29%;
}

#heksagoni #prvi #prvi-prvi img {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
          clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
}

#heksagoni #prvi #prvi-drugi {
  right: 4%;
  bottom: -43%;
}

#heksagoni #prvi #prvi-drugi img {
  position: absolute;
  left: -200%;
  height: 100%;
  -webkit-clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
          clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);
}

#heksagoni #prvi #prvi-treci {
  right: -48%;
  top: 14%;
}

#heksagoni #prvi #prvi-treci img {
  position: absolute;
  left: -100%;
  height: 100%;
  -webkit-clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
          clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);
}

#heksagoni #prvi #prvi-cetvrti {
  background-color: #99d9ea;
  right: -15%;
  top: 52%;
  z-index: 3;
  font-weight: bold;
}

#heksagoni #prvi #prvi-cetvrti a {
  font-family: "Nunito";
  display: inline-block;
  position: absolute;
  right: 8%;
  top: 25%;
  width: 50%;
  height: 60%;
  text-decoration: none;
  color: black;
  text-align: right;
  font-size: 2vh;
}

@media (min-width: 1400px) {
  #heksagoni #prvi #prvi-cetvrti a {
    height: 50%;
    top: 28%;
    font-size: 2.2vh;
  }
}

#heksagoni #prvi #prvi-cetvrti a:hover #link-tekst-1 {
  right: 0.8rem;
}

#heksagoni #prvi #prvi-cetvrti a:hover #link-tekst-2 {
  right: 1.6rem;
}

#heksagoni #prvi #prvi-cetvrti a #link-tekst-1 {
  display: inline-block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#heksagoni #prvi #prvi-cetvrti a #link-tekst-2 {
  display: inline-block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.proba {
  width: 100%;
  height: 1500px;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */