@import './variables';
@import './responsive';



/*--------------   hexagon styling    ----------------------*/

body{
    height: auto;
    background-color: rgb(0, 0, 0);
    position: relative;
}



#nav-id{

    background-color: black;
  // backdrop-filter: blur(3px);
   // border-bottom: solid 2px transparent;
    background-clip: padding-box;
    z-index: 9;

    #logo-ime{
        
        font-size: size(size-large3);
       // letter-spacing: 0.1rem;
        color: $white;
        font-family: $mainfont;
        font-weight: bold;
        //letter-spacing: 0.2rem;
        transition: 150ms ease-in-out;

        &:hover{

            color: $svetloplava;
        }

        img{
            height: 3rem;
            margin-right: 0.3rem;
        }

    }

    #glavni-linkovi{
        a{
            color: $white;
            font-family: $mainfont;
            display: inline-block;
            position: relative;
            transition: 150ms ease-in-out;
            font-size: 1.5rem;

            &::before{
                content: '';
                position: absolute;
                height: 2px;
                width: 60%;
                background-color: $svetloplava;
                left: 20%;
                top: 4.2rem;
                border-radius: 3px;
                opacity: 0.0;
                transition: 150ms ease-in-out;

            }

            &:hover::before{
                width: 60%;
                top: 3.3rem;
                opacity: 1.0;

            }

            &:hover{
                color: $svetloplava;

            }
        }
    }
}

/*      OFFCANVAS        */


#off-meni{
    position: fixed;
    width: 13px;
    height: 100vh;
    background-color: $svetloplava;
    right: -1px;
    top: 0;
    z-index: 10;

    a{
        position: absolute;
        top: 65%;
        width: 65px;
        height: 65px;
        background-color: $svetloplava;
        left: -35px;
        border-radius: 50% 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;



        font-weight: bolder;
        color: blue;

       i{
            font-size: 1.4rem;
            font-family: $mainfont;
            text-align: center;
            height: 45px;
            padding: 0%;
            margin: 0%;
            width: 45px;
            background-color: azure;
            border-radius: 50%;

            &::before{
                line-height: 0.6;
                font-weight: bolder !important;

            }
        }
    }

}

#sidebar{
    background-color: $svetloplava;
    padding-top: 20%;

    #izlaz{

        height: 50px;
        width: 50px;

        font-size: 2rem;
        line-height: 1;
        font-weight: bolder;

        color: blue;
        border-radius: 50%;
        background-color: white;

        display: inline-block;
        //position: absolute;
        top: 65%;
        left: 5px;

        border: none;

        display: flex;
        justify-content: center;
        //align-items: center;
        position: relative;

        i{
            position: absolute;
            top:10%;
        }

    }
    #sidebar-label{
        font-size: 2.2rem;
        font-weight: bolder;
    }

    #linkovi{
        font-size: 1.3rem;
        font-weight: 500;
        
        li{
            a{
                color: black;
            }
        }
    }

}


/*    HERO SECTION STYLING      */
#hero{
    position: relative;

        &::before{

            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
    }
}

    .hero{
        height: 160vh;
        position: relative;
        @include rsm{
            height: 100vh;
        }


      //  background-image: url(../img/pozadina2.jpg);
      //  background-size: cover;






        #hero-container{
            height: 100%;

            z-index: 10;
          //  background-color: rgb(46, 56, 27);

            .row{
                width: inherit;
                height: inherit;

                #tekst{
                    height: 40%;
                    position: relative;
                    @include rsm{
                        height: 100%;

                    }

                   /* width: 50%;*/
                 //   background-color: rgb(54, 7, 54);


                    h1{

                        font-size: size(size-large3);
                        font-weight: bold;
                        color: $white;
                        font-family: $mainfont;
                        margin-bottom: 1.5rem;
                        text-align: center;
                       // font-weight: bold;

                        @include rsm{
                            text-align: start;
                        }

                        @include rlg{
                            color: $white;
                            font-family: $mainfont;
                            font-size: size(size-ultra-large);
                            line-height: 3.9rem;
                            margin-bottom: 1.5rem;
                        }

                        .plava{
                            color: $svetloplava;
                        }
                    }

                    #hero-tekst{
                        position: absolute;
                        top: 30%;
                        width: 100%;
                        padding-left: 15px;
                        padding-right: 10px;
                        height: 40vh;
                      //  background-color: black;




                        p{

                            color: rgb(228, 228, 228);
                            font-size: size(size-regular1);
                            font-family: $mainfont;
                            line-height: 2rem;

                            text-align: center;

                            @include rsm{
                                text-align: start;
                            }

                            @include rlg{
                                color: rgb(228, 228, 228);
                                font-family: $mainfont;
                                font-size: size(size-regular2);
                            }


                        }

                    }
                }
            }

        }
    }



    /*      HEKSAGONI        */


    #heksagoni{
      /*  width: 50%;*/
        height: 65%;
        overflow: hidden;
        position: relative;

      //  background-color: black;

       @include rsm{
        //height: 50%;
        position: absolute;
        height: 115%;
        top: 0;
        left: 50%;
       }

        #prvi{

            position: absolute;
            width: 37vh;
            height: 37vh;
            top: 30vh;
            left:  -((60vh/100)*5);
          //  outline: 1px solid white;

            @include rsm{
                position: absolute;
                width: 35vh;
                height: 35vh;

            }

            @include r850{
                position: absolute;
                width: 45vh;
                height: 45vh;

    
            }


            @include rlg{
                position: absolute;
                width: 45vh;
                height: 45vh;

    
            }

            @include rxxl{
                position: absolute;
                width: 55vh;
                height: 55vh;

            }


            #glavni-prvi{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                img{
                    height: 100%;
                    clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
                }

            }

            #glavni-drugi{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                position: absolute;
                bottom: -80%;
                right: -57%;
                img{
                    position: absolute;
                    left: -100%;
                    height: 100%;
                    clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);

                }

                @include rlg{
                    bottom: -44%;
                    right: -125%;
                }
            }

            #glavni-treci{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                position: absolute;
                top: -80%;
                right: -57%;
                img{
                    position: absolute;
                    left: -200%;
                    height: 100%;
                    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);


                }

                @include rlg{
                    top: -112%;
                    right: -101%;
                }
            }

            .prvi-deca{
                position: absolute;
                width: 55%;
                height: 55%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);


                @include r850{
                    width: 45%;
                    height: 45%;
                }
            }

            #prvi-prvi{

                right: -22.5%;
                top: -29%;

                img{
                    height: 100%;
                    clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
                }
                
            }
            #prvi-drugi{

                right: 4%;
                bottom: -43%;
               

                img{
                    position: absolute;
                    left: -200%;
                    height: 100%;
                    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);


                }
            }

            #prvi-treci{

                right: -48%;
                top: 14%;

                img{
                    position: absolute;
                    left: -100%;
                    height: 100%;
                    clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);

                }
            }

            #prvi-cetvrti{

                background-color: $svetloplava;
                right: -15%;
                top: 52%;
                z-index: 3;
  
                font-weight: bold;
                //font-size: size(size-regular1);



                a{
                    font-family: $mainfont;
                    display: inline-block;
                    position: absolute;
                    right: 8%;
                    top:25%;
                    width: 50%;
                    height:60%;
                    text-decoration: none;
                    color: black;
                    text-align: right;
                    font-size: 2vh;

                    @include rxxl{
                        height: 50%;
                        top: 28%;
                        font-size: 2.2vh;
                    }

                  //  i{
                       // font-size: 3rem;
                   // }
                

                    &:hover{

                        #link-tekst-1{
                            right:0.8rem;
                        }
                        #link-tekst-2{
                            right:1.6rem;
                        }
                    }

                    #link-tekst-1{
                        display: inline-block;
                        position: absolute;
                        width: fit-content;
                        right: 0rem;
                        transition: 300ms;
                    }
                    #link-tekst-2{
                        display: inline-block;
                        position: absolute;
                        width: fit-content;
                        right: 0rem;
                        transition: 300ms;
                    }

                }
            }

        }
    }




#destinacije{
    width: 100%;
    height: auto;
    background-color: black;
    
    #destinacije-naslov{
        background-color: rgb(0, 0, 0);
        padding-top: 10rem;
        color: white;
        font-family: $mainfont;

        h2{
            font-size: size(size-large4);
            font-weight: bold;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;

            span{
                color: $svetloplava;
            }
        }

        p{
            font-size: size(size-regular1);
            color: rgb(214, 214, 214);
            font-family: $mainfont
        }
    }

    .modal-sadrzaj-destinacije{
        background-color: rgb(26, 26, 26);
        color: white;
        font-family: $mainfont;

        .modal-slika-destinacija{

            width: 100px;
            height: 150px;
            border-radius: 3px;

            margin-top: 0.4rem;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            float: left;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                height: 100%;


            }


            #modal-slika-destinacija-1{
                left: 0px;
            }

            #modal-slika-destinacija-2{
                left: -100px;
            }

            #modal-slika-destinacija-3{
                left: -200px;
            }

            #modal-slika-destinacija-4{
                left: -300px;
            }

            #modal-slika-destinacija-5{
                left: 0px;
            }

            #modal-slika-destinacija-6{
                left: -100px;
            }

            #modal-slika-destinacija-7{
                left: -200px;
            }

            #modal-slika-destinacija-8{
                left: -300px;
            }

            #modal-slika-destinacija-9{
                left: -400px;
            }

            #modal-slika-destinacija-10{
                left: -500px;
            }

        }
        .modal-zatvori{

            background-color: rgb(85, 85, 85);
            &:hover{
                color: transparent;
                background-color: rgb(110, 110, 110);
            }

            &:focus{
                box-shadow: none;
            }

        }

        .modal-header{
            border-bottom: 2px solid $svetloplava;

            color: white;
            font-family: $mainfont;
        }

        .modal-footer{
            border-top: 2px solid $svetloplava;

            .modal-dugme-destinacija-prihvati{

                font-family: $mainfont;
                background-color: #7cb0be;

                color: black;
                border: none;
                font-weight: bold;
                transition: none;
                &:hover{
                    background-color: $svetloplava;
                }

                &:focus{
                    box-shadow: none;
                }

            }

            .modal-dugme-destinacija-ponisti{
                font-family: $mainfont;
            
                color: rgb(255, 255, 255);
                border: none;
                font-weight: bold;
                transition: none;
                background-color:rgb(59, 0, 0);

                &:hover{
                    color: white;
                    background-color: rgb(138, 0, 0);
                }

                &:focus{
                    box-shadow: none;
                }
            }

        }
    }

    .modal-dugme{
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        border-color: transparent;

        background-color: transparent;

        &:focus{
            box-shadow: none;
        }

        &:hover{
            outline-color: $svetloplava;
            outline-width: 2px;
            outline-style: solid;
            outline-offset: -1px;
        }

    }

    .red {
        flex-basis: 100%;
        height: 0;

        display: block;

        @include rlg{
            display: none;
        }
      }

    .slajder-item{
        height:240px; 
        width:160px;
        border-radius: 5px;
        position: relative;

        display: flex;
        margin-bottom: 1.5rem;
       // align-items: center;
       // justify-content: center;
        //font-size: 2rem;
        color: black;
        overflow: hidden;

        @include rsm{
            height:360px; 
            width:240px;
        }

        @include rxl{

            height:450px; 
            width:300px;
        }

        img{
            position: absolute;
            height: 100%;

        }

        #destinacija-1{
            clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
            left: 0px;
        }

        #destinacija-2{
            clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
            left: -160px;



            @include rsm{
                left: -240px;
            }

            @include rxl{
                left: -300px;
            }
        }

        #destinacija-3{
            clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
            left: -320px;



            @include rsm{
                left: -480px;
            }

            @include rxl{
                left: -600px;
                }
        }

        #destinacija-4{
            clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
            left: -480px;


            @include rsm{
                left: -720px;
            }
            
            @include rxl{
                left: -900px;
            }
        }

        #destinacija-5{
            clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
            left: 0px;


        }

        #destinacija-6{
            clip-path: polygon(16.5% 0, 34% 0, 34% 100%, 16.5% 100%);
            left: -160px;



            @include rsm{
                left: -240px;
            }

            @include rxl{
                left: -300px;
            }
        }
        #destinacija-7{
            clip-path: polygon(33% 0, 51% 0, 51% 100%, 33% 100%);
            left: -320px;



            @include rsm{
                left: -480px;
            }

            @include rxl{
                left: -600px;
            }
        }
        #destinacija-8{
            clip-path: polygon(50% 0, 68% 0, 68% 100%, 50% 100%);
            left: -480px;



            @include rsm{
                left: -720px;
            }

            @include rxl{
                left: -900px;
            }
        }
        #destinacija-9{
            clip-path: polygon(66.7% 0, 85% 0, 85% 100%, 66.7% 100%);
            left: -640px;



            @include rsm{
                left: -959px;
            }

            @include rxl{
                left: -1199px;
            }
        }
        #destinacija-10{
            clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%);
            left: -800px;



            @include rsm{
                left: -1200px;
            }

            @include rxl{
                left: -1500px;
            }
        }

        #destinacija-11{
           // clip-path: polygon(83% 0, 100% 0, 100% 100%, 83% 100%);
            left: -1282px;



            @include rsm{
                left: -1923px;
            }

            @include rxl{
                left: -2400px;
            }
        }

    }
}



#gradovi{
    width: 100%;
    height: auto;
    background-color: black;


    #destinacije-naslov{
        background-color: rgb(0, 0, 0);
        padding-top: 10rem;
        color: white;
        font-family: $mainfont;

        h2{
            font-size: size(size-large4);
            font-weight: bold;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;

            span{
                color: $svetloplava;
            }
        }

        p{
            font-size: size(size-regular1);
            color: rgb(214, 214, 214);
            font-family: $mainfont
        }
    }


    .modal-sadrzaj-destinacije{
        background-color: rgb(26, 26, 26);
        color: white;
        font-family: $mainfont;

        .modal-slika-destinacija{

            width: 100px;
            height: 150px;
            border-radius: 3px;

            margin-top: 0.4rem;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            float: left;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                height: 100%;


            }


            #modal-slika-destinacija-1{
                left: 0px;
            }

            #modal-slika-destinacija-2{
                left: -100px;
            }

            #modal-slika-destinacija-3{
                left: -200px;
            }

            #modal-slika-destinacija-4{
                left: -300px;
            }

            #modal-slika-destinacija-5{
                left: -400px;
            }

            #modal-slika-destinacija-6{
                left: -500px;
            }

            #modal-slika-destinacija-7{
                left: -600px;
            }

            #modal-slika-destinacija-8{
                left: -700px;
            }



        }
        .modal-zatvori{

            background-color: rgb(85, 85, 85);
            &:hover{
                color: transparent;
                background-color: rgb(110, 110, 110);
            }

            &:focus{
                box-shadow: none;
            }

        }

        .modal-header{
            border-bottom: 2px solid $svetloplava;

            color: white;
            font-family: $mainfont;
        }

        .modal-footer{
            border-top: 2px solid $svetloplava;

            .modal-dugme-destinacija-prihvati{

                font-family: $mainfont;
                background-color: #7cb0be;

                color: black;
                border: none;
                font-weight: bold;
                transition: none;
                &:hover{
                    background-color: $svetloplava;
                }

                &:focus{
                    box-shadow: none;
                }

            }

            .modal-dugme-destinacija-ponisti{
                font-family: $mainfont;
            
                color: rgb(255, 255, 255);
                border: none;
                font-weight: bold;
                transition: none;
                background-color:rgb(59, 0, 0);

                &:hover{
                    color: white;
                    background-color: rgb(138, 0, 0);
                }

                &:focus{
                    box-shadow: none;
                }
            }

        }
    }

    .modal-dugme{
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        border-color: transparent;

        background-color: transparent;

        &:focus{
            box-shadow: none;
        }

        &:hover{
            outline-color: $svetloplava;
            outline-width: 2px;
            outline-style: solid;
            outline-offset: -1px;
        }

    }

    .red {
        flex-basis: 100%;
        height: 0;

        display: block;

        @include rlg{
            display: none;
        }
      }

    .slajder-item{
        height:240px; 
        width:160px;
        border-radius: 5px;
        position: relative;

        display: flex;
        margin-bottom: 1.5rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: black;
        overflow: hidden;

        @include rsm{
            height:360px; 
            width:240px;
        }

        @include rxl{

            height:450px; 
            width:300px;
        }

        img{
            position: absolute;
            height: 100%;

        }

        #destinacija-1{
           // clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
            left: 0px;
        }

        #destinacija-2{
          //  clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
            left: -160px;



            @include rsm{
                left: -240px;
            }

            @include rxl{
                left: -300px;
            }
        }

        #destinacija-3{
           // clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
            left: -320px;



            @include rsm{
                left: -480px;
            }

            @include rxl{
                left: -600px;
                }
        }

        #destinacija-4{
           // clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
            left: -480px;


            @include rsm{
                left: -720px;
            }
            
            @include rxl{
                left: -900px;
            }
        }

        #destinacija-5{
          //  clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
            left: -640px;

            @include rsm{
                left: -960px;
            }
            
            @include rxl{
                left: -1200px;
            }

        }

        #destinacija-6{
         //   clip-path: polygon(16.5% 0, 34% 0, 34% 100%, 16.5% 100%);
            left: -801px;



            @include rsm{
                left: -1201px;
            }

            @include rxl{
                left: -1501px;
            }
        }
        #destinacija-7{
         //   clip-path: polygon(33% 0, 51% 0, 51% 100%, 33% 100%);
            left: -961px;



            @include rsm{
                left: -1441px;
            }

            @include rxl{
                left: -1801px;
            }
        }
        #destinacija-8{
          //  clip-path: polygon(50% 0, 68% 0, 68% 100%, 50% 100%);
            left: -1121px;



            @include rsm{
                left: -1681px;
            }

            @include rxl{
                left: -2101px;
            }
        }

    }
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 5rem;
    font-family: $mainfont;

    #footer-pozadina{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 50vw;

        background-image: url(../img/futer-3.jpg);

        @include rmd{
            background-image: url(../img/futer-2.jpg);
            height: 30vw;
        }

    }

    #tekst{
        font-family: $secondaryfont;
        display: inline-block;
        color: #7cb0be;
        color: rgb(228, 228, 228);
        transform: rotate(-7deg);
        font-size: 4rem;
        letter-spacing: 0.5rem;

        @include rmd{
            font-size: 5rem;
        }
    }

    #svg-norveska{
       // background-color: red;
        height: 120px;
       // background-image: url(../../img/norveska-1.png);
       position: relative;

       @include rmd{
        height: 150px;
       }

        img{
            height: inherit;
        }

        &::after{
            position: absolute;
            content: '';
            top: 50%;
            width: 22%;
            left: 0;
            border-top: 1px solid rgb(228, 228, 228);

            @include rsm{
                width: 27%;
            }

            @include rlg{
                width: 30%;
            }

            @include rxl{
                width: 35%;
            }

        }

        &::before{
            position: absolute;
            content: '';
            top: 50%;
            width: 22%;
            right: 0;
            border-top: 1px solid rgb(228, 228, 228);

            @include rsm{
                width: 27%;
            }          

            @include rlg{
                width: 30%;
            }

            @include rxl{
                width: 35%;
            }

        }
    }

    #footer-logo{
        height: 50px;
    }

    ul{
        list-style: none;

    }

    a{
        color: rgb(228, 228, 228);
        text-decoration: none;
        font-size: size(size-regular1);
        font-family: $mainfont;

        &:hover{
            color: $svetloplava;
        }
    }

}



#kultura{
    height: auto;
    width: 100%;
   // background-color: rgb(0, 0, 0);

    #kultura-hero{
      // background-color: #353535;


        height: 100vh;

        @include rmd{
            height: 100vh;
        }

        .row{
            height: inherit;
        }

    }

    #prva-kolona{
        position: relative;
        height: 50vh;
       // border-bottom: 1px solid red;
        padding-top: 10vh;
        margin-bottom: 6vh;
     //   background-color: red;

        @include rmd{
            height: 100vh;
            margin-bottom: 0vh;
        }
    }

    #druga-kolona{


        height: 50vh;
        padding: 0;
        display: flex;
        justify-content: end;

        @include rmd{
            height: 100vh;
        }

        .kolona-slike-2{
            width: 30vh;
            height: 100%;
            //background-color: rgb(51, 51, 22);
            margin-right: -2.6vh;




            img{
                height: 100vh;
            }
        }

        .kolona-slike{
            width: 100%;
            height: fit-content;
           // height: 50%;
           // background-color: brown;
            margin-left: 2vh;
            overflow: hidden;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;



            @include rmd{
                width: 30vh;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
            }

            #d-k-s-3{
                position: relative;
                width: 30vh;
                height: 100vh;
              //  background-color: #a47cbe;
                overflow: hidden;
                border-radius: 4px;

    

                 img{
                    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
                    height: 100%;
                   position: absolute;
                   left: 0%;

                }

            }



            #d-k-s-1{
                position: relative;
                width: 20vh;
                height: 40vh;
               // background-color: #7cb0be;
                overflow: hidden;
                border-radius: 4px;


                @include rmd{
                    height: 49vh;  
                    width: 100%;
                }

                img{
                    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
                    height: 200%;
                   position: absolute;
                   right: 0%;

                   @include rmd{
                    right: 0%;
                   }



                }

            }

            #d-k-s-2{
                position: relative;
                overflow: hidden;
                width: 20vh;
                height: 40vh;
               // background-color: darkgreen;
                border-radius: 4px;

                @include rmd{
                    height: 49vh;  
                    width: 100%;
                }

                img{
                    clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%);
                    height: 200%;
                   position: absolute;
                   right:0%;
                   bottom: 0%;

                }
            }
        }

    }

    #hero-tekst{
        h1{

            font-size: size(size-large3);
            font-weight: bold;
            color: $white;
            font-family: $mainfont;
            margin-bottom: 1.5rem;
            text-align: center;

            @include rsm{
                text-align: center;
            }

            @include rmd{
                text-align: start;
            }

            @include rlg{
                text-align: start;
                color: $white;
                font-family: $mainfont;
                font-size: size(size-ultra-large);
                line-height: 3.9rem;
                margin-bottom: 1.5rem;
            }

            .plava{
                color: $svetloplava;
            }
        }
    }
        #hero-tekst{


            height: 40vh;

            text-align: center;
            padding-top: rvh;
            padding-left: 0rem;
            padding-right: 1.5rem;


            @include rmd{
                top: 30vh;
                padding-top: 15vh;
                padding-left: 0rem;
                padding-right: 0rem;
            }


            p{

                color: rgb(228, 228, 228);
                font-size: size(size-regular1);
                font-family: $mainfont;
                line-height: 2rem;
                
                text-align: center;

                @include rsm{
                    text-align: center;
                    color: rgb(228, 228, 228);
                }

                @include rmd{
                    text-align: start;
                }

                @include rlg{
                    text-align: start;
                    color: rgb(228, 228, 228);
                    font-family: $mainfont;
                    font-size: size(size-regular2);
                }


            }
        }
}


#vikinzi{
    width: 100%;
    height: fit-content;
    background-color: black;
   // border-top: 1px solid red;


    
    #destinacije-naslov{
        background-color: rgb(0, 0, 0);
        padding-top: 5rem;
        color: white;
        font-family: $mainfont;

        h2{
            font-size: size(size-large4);
            font-weight: bold;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;

            span{
                color: $svetloplava;
            }
        }

        p{
            font-size: size(size-regular1);
            color: rgb(214, 214, 214);
            font-family: $mainfont
        }
    }


    .slajder-item{
        height:240px; 
        width:160px;
        border-radius: 5px;
        position: relative;

        display: flex;
        margin-bottom: 1.5rem;
       // align-items: center;
       // justify-content: center;
        //font-size: 2rem;
      //  background-color: rgb(223, 53, 53);
        overflow: hidden;

        @include rsm{
            height:360px; 
            width:240px;
        }

        @include rxl{

            height:450px; 
            width:300px;
        }

        img{
            position: absolute;
            height: 100%;
        }

        #viking-1{
            position: absolute;
            left: -160px;

            @include rsm{
                left: -240px;
            }

            @include rxl{
                left: -300px;
            }
        }

        #viking-2{
            position: absolute;
            left: -320px;


            @include rsm{
                left: -480px;
            }

            @include rxl{
                left: -600px;
            }
        }


    }

    .viking-tekst{
        height: fit-content;
       // width: 500px;
      //  background-color: darkblue;
    }
}



#hrana{
    width: 100%;
    height: fit-content;
  //  border-top: 1px solid red;
    background-color: rgb(0, 0, 0);

    #destinacije-naslov{
        background-color: rgb(0, 0, 0);
        padding-top: 5rem;
        color: white;
        font-family: $mainfont;

        h2{
            font-size: size(size-large4);
            font-weight: bold;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;

            span{
                color: $svetloplava;
            }
        }

        p{
            font-size: size(size-regular1);
            color: rgb(214, 214, 214);
            font-family: $mainfont
        }
    }


    #recepti-slike{
        height: fit-content;
      //  background-color: rgb(54, 68, 30);
    }

    .hrana-slike{
        height: 600px;
        width: 100%;
       // background-color: darkred;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;


        @include rmd{
            height: 650px;
            width: 390px;
            justify-content: space-between;
        }


        @include rlg{
            height: 770px;
            flex-direction: column;
            width: 250px;
            flex-wrap: nowrap;
            
        }

        .break {
            flex-basis: 100%;
            height: 0;
          }

        .slika{
            width: 180px;
            height: 270px;
           // background-color: darkorchid;
            overflow: hidden;
            position: relative;
            border-radius: 4px;

            @include rlg{
                width: 250px;
                height: 375px;
            
            }

            button{
                background-color: transparent;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                outline: transparent;
                box-shadow: none;
                padding: 0;
                border: none;

                &:hover{
                    outline: 2px solid $svetloplava;
                    outline-offset: -2px;
                }
            }

            img{
                position: absolute;
                height: 100%;
               // left: -400px;
            }

            #hrana-2{
                left: -180px;

                @include rlg{
                    left: -250px;
                }

            }
            #hrana-3{
                left: -360px;

                @include rlg{
                    left: -500px;
                }
            }
            #hrana-4{
                left: -540px;

                @include rlg{
                    left: -750px;
                }
            }
        }


    }

    #recepti{
      //  height: 650px;
        width: 75%;
        height: fit-content;
        min-width: 300px;  
        //background-color: rgb(105, 74, 6);

        @include rmd{
            width: 300px;
        }


        @include rlg{
          //  height: 765px;
            width: 400px;  
        }

        #accordionExample{
            min-height: 650px;
            

            @include rlg{
                height: 765px;
            }

            .accordion-item{
                background-color: rgb(22, 22, 22);
                color: rgb(231, 231, 231);

                h5{
                    color: $svetloplava;
                }

                .accordion-button{
                    background-color: $svetloplava;

                    &:focus{
                        box-shadow: none;
                        color: black;
                    }

                    &:not(.collapsed){
                        color: black;
                    }
                }
            }

            .accordion-body{
                min-height: 435px;

                @include rlg{
                    height: 555px;
                }
            }
        }
    }

}




#events{
    width: 100%;
    height: fit-content;
    background-color: black;
  //  border-top: 1px solid red;


    #destinacije-naslov{
        background-color: rgb(0, 0, 0);
        padding-top: 5rem;
        color: white;
        font-family: $mainfont;

        h2{
            font-size: size(size-large4);
            font-weight: bold;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;

            span{
                color: $svetloplava;
            }
        }

        p{
            font-size: size(size-regular1);
            color: rgb(214, 214, 214);
            font-family: $mainfont
        }
    }

    .modal-sadrzaj-destinacije{
        background-color: rgb(26, 26, 26);
        color: white;
        font-family: $mainfont;

        p{
            color: #d6d6d6;
            font-family: "Nunito";
        }

        .modal-slika-destinacija{

            width: 100px;
            height: 150px;
            border-radius: 3px;

            margin-top: 0.4rem;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
            float: left;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                height: 100%;


            }




            #modal-slika-destinacija-1{
                left: 0px;
            }

            #modal-slika-destinacija-2{
                left: -100px;
            }

            #modal-slika-destinacija-3{
                left: -200px;
            }

            #modal-slika-destinacija-4{
                left: -300px;
            }

            #modal-slika-destinacija-5{
                left: 0px;
            }

            #modal-slika-destinacija-6{

                left: -300px;
            }

            #modal-slika-destinacija-7{
                left: -200px;
            }

            #modal-slika-destinacija-8{
                left: -100px;
            }



        }
        .modal-zatvori{

            background-color: rgb(85, 85, 85);
            &:hover{
                color: transparent;
                background-color: rgb(110, 110, 110);
            }

            &:focus{
                box-shadow: none;
            }

        }

        .modal-header{
            border-bottom: 2px solid $svetloplava;

            color: white;
            font-family: $mainfont;
        }

        .modal-footer{
            border-top: 2px solid $svetloplava;

            .modal-dugme-destinacija-prihvati{

                font-family: $mainfont;
                background-color: #7cb0be;

                color: black;
                border: none;
                font-weight: bold;
                transition: none;
                &:hover{
                    background-color: $svetloplava;
                }

                &:focus{
                    box-shadow: none;
                }

            }

            .modal-dugme-destinacija-ponisti{
                font-family: $mainfont;
            
                color: rgb(255, 255, 255);
                border: none;
                font-weight: bold;
                transition: none;
                background-color:rgb(59, 0, 0);

                &:hover{
                    color: white;
                    background-color: rgb(138, 0, 0);
                }

                &:focus{
                    box-shadow: none;
                }
            }

        }
    }

    .modal-dugme{
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        border-color: transparent;

        background-color: transparent;

        &:focus{
            box-shadow: none;
        }

        &:hover{
            outline-color: $svetloplava;
            outline-width: 2px;
            outline-style: solid;
            outline-offset: -1px;
        }

    }

    .red {
        flex-basis: 100%;
        height: 0;

        display: block;

        @include rlg{
            display: none;
        }
      }

    .slajder-item{
        height:240px; 
        width:160px;
        border-radius: 5px;
        position: relative;

        display: flex;
        margin-bottom: 1.5rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: black;
        overflow: hidden;

        @include rsm{
            height:360px; 
            width:240px;
        }

        @include rxl{

            height:450px; 
            width:300px;
        }

        img{
            position: absolute;
            height: 100%;

        }

        #destinacija-1{
           // clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
            left: 0px;
        }

        #destinacija-2{
          //  clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
            left: -160px;



            @include rsm{
                left: -240px;
            }

            @include rxl{
                left: -300px;
            }
        }

        #destinacija-3{
           // clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
            left: -320px;



            @include rsm{
                left: -480px;
            }

            @include rxl{
                left: -600px;
                }
        }

        #destinacija-4{
           // clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
            left: -480px;


            @include rsm{
                left: -720px;
            }
            
            @include rxl{
                left: -900px;
            }
        }

        #destinacija-5{
          //  clip-path: polygon(0 0, 17% 0, 17% 100%, 0 100%);
          left: 0px;

        }

        #destinacija-6{
         //   clip-path: polygon(16.5% 0, 34% 0, 34% 100%, 16.5% 100%);


         left: -480px;


         @include rsm{
             left: -720px;
         }
         
         @include rxl{
             left: -900px;
         }
        }
        #destinacija-7{
         //   clip-path: polygon(33% 0, 51% 0, 51% 100%, 33% 100%);
         left: -320px;



         @include rsm{
             left: -480px;
         }

         @include rxl{
             left: -600px;
             }
        }
        #destinacija-8{
          //  clip-path: polygon(50% 0, 68% 0, 68% 100%, 50% 100%);
          left: -160px;



          @include rsm{
              left: -240px;
          }
 
          @include rxl{
              left: -300px;
          }
 
        }

    }

}


#sledece{
    width: 100%;
    height: 1000px;
    background-color: rgb(44, 44, 44);
}