@import './variables';
@import './responsive';



/*--------------   hexagon styling    ----------------------*/

body{
    height: 1000px;
    background-color: rgb(138, 138, 138);
    position: relative;
}



#nav-id{

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    border-bottom: solid 2px transparent;
    background-clip: padding-box;
    z-index: 9;

    #logo-ime{
        
        font-size: size(size-large3);
        letter-spacing: 0.1rem;
        color: $white;
        font-family: $secondaryfont;
        letter-spacing: 0.2rem;
        transition: 300ms ease-in-out;

        &:hover{

            color: $svetloplava;
        }

        img{
            height: 3rem;
            margin-right: 0.3rem;
        }

    }

    #glavni-linkovi{
        a{
            color: $white;
            font-family: $mainfont;
            display: inline-block;
            position: relative;
            transition: 300ms ease-in-out;

            &::before{
                content: '';
                position: absolute;
                height: 2px;
                width: 60%;
                background-color: $svetloplava;
                left: 20%;
                top: 4.2rem;
                border-radius: 3px;
                opacity: 0.0;
                transition: 300ms ease-in-out;

            }

            &:hover::before{
                width: 60%;
                top: 3.3rem;
                opacity: 1.0;

            }

            &:hover{
                color: $svetloplava;

            }
        }
    }
}

/*      OFFCANVAS        */


#off-meni{
    position: fixed;
    width: 13px;
    height: 100vh;
    background-color: $svetloplava;
    right: -1px;
    top: 0;
    z-index: 10;

    a{
        position: absolute;
        top: 65%;
        width: 65px;
        height: 65px;
        background-color: $svetloplava;
        left: -35px;
        border-radius: 50% 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;



        font-weight: bolder;
        color: blue;

       i{
            font-size: 1.4rem;
            font-family: $mainfont;
            text-align: center;
            height: 45px;
            padding: 0%;
            margin: 0%;
            width: 45px;
            background-color: azure;
            border-radius: 50%;

            &::before{
                line-height: 0.6;
                font-weight: bolder !important;

            }
        }
    }

}

#sidebar{
    background-color: $svetloplava;
    padding-top: 20%;

    #izlaz{

        height: 50px;
        width: 50px;

        font-size: 2rem;
        line-height: 1;
        font-weight: bolder;

        color: blue;
        border-radius: 50%;
        background-color: white;

        display: inline-block;
        position: absolute;
        top: 65%;
        left: 5px;

        border: none;

        display: flex;
        justify-content: center;
        //align-items: center;
        position: relative;

        i{
            position: absolute;
            top:10%;
        }

    }
    #sidebar-label{
        font-size: 2.2rem;
        font-weight: bolder;
    }

    #linkovi{
        font-size: 1.3rem;
        font-weight: 500;
        
        li{
            a{
                color: black;
            }
        }
    }

}


/*    HERO SECTION STYLING      */
#hero{
    position: relative;

        &::before{

            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
    }
}

    .hero{
        height: 160vh;
        position: relative;
        @include rsm{
            height: 100vh;
        }


        background-image: url(../img/pozadina2.jpg);
        background-size: cover;






        #hero-container{
            height: 100%;

            z-index: 10;
          //  background-color: rgb(46, 56, 27);

            .row{
                width: inherit;
                height: inherit;

                #tekst{
                    height: 40%;
                    position: relative;
                    @include rsm{
                        height: 100%;

                    }

                   /* width: 50%;*/
                 //   background-color: rgb(54, 7, 54);


                    h1{

                        font-size: size(size-large3);
                        color: $white;
                        font-family: $mainfont;
                        margin-bottom: 1.5rem;
                        text-align: center;

                        @include rsm{
                            text-align: start;
                        }

                        @include rlg{
                            color: $white;
                            font-family: $mainfont;
                            font-size: size(size-ultra-large);
                            line-height: 3.9rem;
                            margin-bottom: 1.5rem;
                        }

                        .plava{
                            color: $svetloplava;
                        }
                    }

                    #hero-tekst{
                        position: absolute;
                        top: 30%;
                        width: 100%;
                        padding-left: 15px;
                        padding-right: 10px;
                        height: 40vh;
                      //  background-color: black;




                        p{

                            color:$white;
                            font-size: size(size-regular1);
                            font-family: $mainfont;
                            line-height: 2rem;

                            text-align: center;

                            @include rsm{
                                text-align: start;
                            }

                            @include rlg{
                                color: $white;
                                font-family: $mainfont;
                                font-size: size(size-regular2);
                            }


                        }

                    }
                }
            }

        }
    }



    /*      HEKSAGONI        */


    #heksagoni{
      /*  width: 50%;*/
        height: 65%;
        overflow: hidden;
        position: relative;

      //  background-color: black;

       @include rsm{
        //height: 50%;
        position: absolute;
        height: 115%;
        top: 0;
        left: 50%;
       }

        #prvi{

            position: absolute;
            width: 37vh;
            height: 37vh;
            top: 30vh;
            left:  -((60vh/100)*5);
          //  outline: 1px solid white;

            @include rsm{
                position: absolute;
                width: 35vh;
                height: 35vh;

            }

            @include r850{
                position: absolute;
                width: 45vh;
                height: 45vh;

    
            }


            @include rlg{
                position: absolute;
                width: 45vh;
                height: 45vh;

    
            }

            @include rxxl{
                position: absolute;
                width: 55vh;
                height: 55vh;

            }


            #glavni-prvi{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                img{
                    height: 100%;
                    clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
                }

            }

            #glavni-drugi{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                position: absolute;
                bottom: -80%;
                right: -57%;
                img{
                    position: absolute;
                    left: -100%;
                    height: 100%;
                    clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);

                }

                @include rlg{
                    bottom: -44%;
                    right: -125%;
                }
            }

            #glavni-treci{
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
                position: absolute;
                top: -80%;
                right: -57%;
                img{
                    position: absolute;
                    left: -200%;
                    height: 100%;
                    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);


                }

                @include rlg{
                    top: -112%;
                    right: -101%;
                }
            }

            .prvi-deca{
                position: absolute;
                width: 55%;
                height: 55%;
                clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);


                @include r850{
                    width: 45%;
                    height: 45%;
                }
            }

            #prvi-prvi{

                right: -22.5%;
                top: -29%;

                img{
                    height: 100%;
                    clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
                }
                
            }
            #prvi-drugi{

                right: 4%;
                bottom: -43%;
               

                img{
                    position: absolute;
                    left: -200%;
                    height: 100%;
                    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 99%);


                }
            }

            #prvi-treci{

                right: -48%;
                top: 14%;

                img{
                    position: absolute;
                    left: -100%;
                    height: 100%;
                    clip-path: polygon(34% 0, 66% 0, 66% 100%, 34% 100%);

                }
            }

            #prvi-cetvrti{

                background-color: $svetloplava;
                right: -15%;
                top: 52%;
                z-index: 3;
  
                font-weight: bold;
                //font-size: size(size-regular1);



                a{
                    font-family: $mainfont;
                    display: inline-block;
                    position: absolute;
                    right: 8%;
                    top:25%;
                    width: 50%;
                    height:60%;
                    text-decoration: none;
                    color: black;
                    text-align: right;
                    font-size: 2vh;

                    @include rxxl{
                        height: 50%;
                        top: 28%;
                        font-size: 2.2vh;
                    }

                  //  i{
                       // font-size: 3rem;
                   // }
                

                    &:hover{

                        #link-tekst-1{
                            right:0.8rem;
                        }
                        #link-tekst-2{
                            right:1.6rem;
                        }
                    }

                    #link-tekst-1{
                        display: inline-block;
                        position: absolute;
                        width: fit-content;
                        right: 0rem;
                        transition: 300ms;
                    }
                    #link-tekst-2{
                        display: inline-block;
                        position: absolute;
                        width: fit-content;
                        right: 0rem;
                        transition: 300ms;
                    }

                }
            }

        }
    }



.proba{
    width: 100%;
    height: 1500px;
    background-color: black;
}